.magasinContact {
  font-size: large;
  line-height: 1.8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
}

.adresseContact {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.horaire {
  font-size: larger;
  font-weight: bold;
}

.titreContact {
  font-size: 35px;
  color: rgb(252, 126, 0);
  font-weight: bold;
  align-items: flex-start;
  padding-top: 3rem;
  margin-left: 1rem;
}

.courriel {
  font-size: 2rem;
  color: rgb(252, 126, 0);
  font-weight: bold;
  padding-top: 1rem;
  margin: 5rem 1rem;
}
@media (max-width: 550px) {
  .titreContact {
    font-size: 2rem;
    margin: 1rem;
  }
  .adresseContact {
    margin: 0;
    flex-direction: row;
    font-size: 1.4rem;
    width: 100%;
  }
  .histoire {
    min-width: 30rem;
    font-size: 1rem;
    margin: 1rem;
  }
  .magasinContact {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .divGrid {
    margin-left: 1rem;
  }
  .courriel {
    margin: 2rem 1rem;
    padding-bottom: 1rem;
  }
}
