.contenuExpedition {
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.titreExpedition {
  display: flex;
  justify-content: left;
  font-size: 35px;
  color: rgb(254, 59, 0);
  font-weight: bold;
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

.soustitreExpedition {
  font-size: x-large;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.body2Expedition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.photoExpedition {
  padding: 1.5rem;
}

.imgResize {
  height: auto;
  max-width: 100%;
  min-width: 15rem;
  margin: auto;
}

@media (max-width: 700px) {
  .titreExpedition {
    font-size: 2rem;
  }

  .bodyExpedition {
    margin: auto;
    margin-left: 1rem;
  }

  .body2Expedition {
    display: flex;
    flex-direction: column;
  }
}