.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 126, 0);
}

.footer a {
  margin: 0 10px;
  cursor: pointer;
}

.img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  cursor: pointer;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catchPhrase {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 0;
  padding: 0;
}

.iconReseaux {
  margin: 0 5px;
}

.p {
  margin-left: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: stretch;
  align-items: center;
}

.containerP {
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  margin-left: 8rem;
  margin-right: 8rem;
  justify-content: space-evenly;
}

.menuFooterList {
  align-items: center;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: rgb(252, 126, 0);
  border: none;
  transition: background-color 0.3s ease;
  padding: 0.2rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.menuFooterList:hover {
  background: linear-gradient(to bottom, #ff7b00, #ff4c00);
}

.h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 1000px) {
  .menuFooterList {
    font-size: 1rem;
  }
  .containerP {
    margin: 0;
  }
  .catchPhrase {
    font-size: 1.2rem;
  }
  .img {
    width: 3rem;
    height: auto;
  }
}
