.headerLivraison {
  display: flex;
  flex-direction: row;
  background-color: rgb(194, 117, 35);
  padding: 0;
  margin: 0;
  color: white;
  justify-content: center;
  height: 30px;
  font-family: 'Helvetica';
  font-weight: bold;
}
.p {
  margin: auto 0;
  padding: 0;
  font-weight: bold;
}

.aLogin {
  color: rgb(252, 126, 0);
  margin: 0.3rem 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.aLogin:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.nomAnimago {
  font-size: 35px;
  color: rgb(252, 126, 0);
  font-family: 'Helvetica';
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}
.iconReseaux {
  width: 30px;
  min-width: 30px;
  height: auto;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0;
}

.iconReseaux:hover {
  transform: rotate(10deg);
  transition: 0.3s ease-in-out;
}
.catchPhrase {
  display: flex;
  width: fit-content;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  height: fit-content;
}

.divRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.searchForm {
  display: flex;
  border-radius: 60px;
  background-color: rgb(238, 236, 236);
  width: 300px;
  height: 30px;
  justify-content: space-between;
  margin: auto;
}
.menuProductList {
  display: flex;
  margin-top: 0.9rem;
  height: 4rem;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  z-index: 4;
}
.menuLogo {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: auto;
}

.searchBar {
  border: none;
  background-color: rgb(238, 236, 236);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
}
.searchButton {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: rgb(252, 126, 0);
  height: 30px;
  width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  margin: 0;
}
.searchLogo {
  width: 25px;
  height: auto;
  margin: auto;
}
.searchButton:hover {
  cursor: pointer;
}
.searchLogo:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.appelezNous {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 2rem;
  padding-left: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: rgb(252, 126, 0);
  height: 4rem;
  width: 12rem;
  font-weight: bold;
  font-size: larger;
  justify-content: space-around;
}
.loginCart {
  min-width: 40px;
  width: 40px;
  height: auto;
  margin: 0;
  cursor: pointer;
  padding: 0;
}

.loginCart:hover {
  transform: rotate(8deg);
  transition: 0.3s ease-in-out;
}

.right-side-panel-content {
  padding: 20px;
}
.rightPanel {
  z-index: 4;
}
.rightPanelOff {
  display: none;
}
.rightPanelOn {
  display: inline-block;
}

.cacher {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
}

.pV2 {
  font-size: 25px;
  color: rgb(252, 126, 0);
  font-family: 'Helvetica';
  font-weight: bold;
}

.headerCarousel {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.welcomeText {
  color: black;
  font-weight: 800;
}

@media (max-width: 550px) {
  .loginCart {
    width: 25px;
    min-width: 25px;
    margin: 0;
  }
  .searchBar {
    width: 70%;
  }
  .searchForm {
    width: 150px;
  }
  .nomAnimago {
    font-size: 20px;
    margin: auto;
  }
  .iconReseaux {
    width: 25px;
    min-width: 25px;
  }

  .cacher {
    display: none;
  }
}
