.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
  min-height: 50vh;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem 0;
  font-size: 3rem;
  color: rgb(252, 126, 0);
}
.errorText {
  color: red;
  margin: 0 15rem;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem 0;
  font-size: 2rem;
  color: rgb(128, 128, 128);
}

.formAuthentificationWrapper {
  display: flex;
  flex-direction: column;
  width: 60rem;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff7e1bb;
  font-weight: bold;
  font-size: large;
  border-radius: 1rem;
  border: 2rem solid rgb(128, 128, 128);
}

.btnAuthentification {
  display: flex;
  align-items: center;
  color: black;
  margin: 0.1rem 0;
  border-radius: 1rem;
  border-color: #ff3b00;
  padding: 1.2rem 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: rgb(252, 126, 0);
  animation: buttons1 6s forwards, buttons2 4s infinite;
  justify-content: center;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  text-shadow: 5px 5px 10px #ff8a00;
}

.btnAuthentification:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #ff8a00, #ff4c00);
}

.button {
  background-color: rgb(252, 126, 0);
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-weight: bolder;
  font-size: 18px;
  transition: all 0.3s ease;
  margin: 2rem 1rem;
}

.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input {
  border-radius: 5rem;
  width: 30rem;
  height: 3rem;
  border-color: springgreen;
  padding: 5px;
  font-size: 1.5em;
  color: rgb(252, 126, 0);
  background-color: #fff0cd82;
  border: 0.5rem solid rgb(252, 126, 0);
}

.label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 1rem;
  color: black;
}

.promptWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

@media (max-width: 550px) {
  .question {
    font-size: 1rem;
    margin: auto;
  }
  .title {
    font-size: 2rem;
  }
  .input {
    width: 25rem;
    font-size: 1.5rem;
  }
  .btnAuthentification {
    font-size: 1.2rem;
  }
}
