.contenuPolitique {
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin: auto;
  padding-top: 1rem;
}

.titrePolitique {
  font-size: 35px;
  color: rgb(252, 126, 0);
  font-weight: bold;
  align-items: flex-start;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.soustitrePolitique {
  font-size: x-large;
  font-weight: bold;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.bodyPolitique {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 1rem;
  margin-bottom: 8rem;
}
@media (max-width: 550px) {
  .titrePolitique {
    font-size: 2.3rem;
  }
  .bodyPolitique {
    margin: auto;
    margin-left: 1rem;
  }
  .soustitrePolitique{
    font-size: 1.9rem;
  }
  .contenuPolitique{
    font-size: 1.3rem;
  }
}
