.containerinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.containerDetail {
  display: flex;
  font-size: large;
  line-height: 1.8;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0.1rem;
}

.h1 {
  margin: 0 20rem;
  font-size: 5rem;
}
.emoji[role='img'] {
  font-size: 15rem;
}

.button {
  background-color: rgb(252, 126, 0);
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
  margin: 1.5rem 1rem;
}

.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  font-size: 3rem;
  color: rgb(252, 126, 0);
}

.containerCartButton {
  display: flex;
}

.p {
  margin: 0.5rem 0;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-self: left;
  margin: 0.2rem 0;
  font-size: 1.7rem;
  color: rgb(255, 66, 133);
}

.description {
  display: flex;
  margin: 1rem 5rem;
}

.produitWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 45%;
}
.alignc {
  align-items: center;
}
@media (max-width: 550px) {
  .containerDetail {
    flex-direction: column;
  }
  .produitWrapper {
    width: auto;
  }
}
